/* /////////////////////// */
/* Landing Page CSS Styles */
/* /////////////////////// */
html:has(.landing) {
    --vp-c-bg: #101010;
    background-color: #101010;
  }

  .container {
    width: 100%;
    max-width: 640px; /* Default for small screens */
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem; /* Default padding */
    padding-right: 1rem;
    position: relative;
    overflow: visible; /* Allow child elements to overflow */
  }

  @media (min-width: 768px) {
      .container {
          max-width: 768px; /* MD screens */
      }
  }

  @media (min-width: 1024px) {
      .container {
          max-width: 1024px; /* LG screens */
      }
  }

  @media (min-width: 1280px) {
      .container {
          max-width: 1280px; /* XL screens */
      }
  }

  @media (min-width: 1536px) {
      .container {
          max-width: 1536px; /* 2XL screens */
      }
  }

  
  
  .landing {
    overflow-x: hidden;
    background-color: #101010;
  
    * {
      -webkit-font-smoothing: antialiased !important;
      -moz-osx-font-smoothing: grayscale !important;
      text-rendering: optimizeLegibility !important;
    }
  
    /* /////////////////// */
    /* VitePress Overrides */
    /* /////////////////// */

    
  
    /* /////// */
    /* Buttons */
    /* /////// */

  }
  