global
    log stdout format raw local0

defaults
    mode    http
    timeout connect 5s
    timeout client  5s
    timeout server  5s
    timeout http-request 5s

frontend http_front
    bind *:80
    mode http
    default_backend http_backend

backend http_backend
    balance leastconn
    mode http
    server sushi-svc-1 sushi-svc-1:3000
    server sushi-svc-2 sushi-svc-2:3000

    
